body {
  margin: auto auto 10% auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table, th , td{
  border : 2px solid black;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: center;
}

/* table .train-line_null {
  background-color: grey;
} */

table .train-line_BL {
  color: blue;
}

table .train-line_GR {
  color: green;
}

table .train-line_OR {
  color: orange;
}

table .train-line_SV {
  color: rgb(121, 117, 117);
}

table .train-line_YL {
  color: yellow;
}

table .train-line_RD {
  color: red;
}

.circle{
  background-color: lightgrey;
  display:block;
  height:50%;
  width:60%;
  border-radius:50%;
  margin:auto;
  line-height:50px;
  text-align:center;
  font-weight: bold;
}

.input-container, input {
  margin: 1%;
}

.input_value, .input_parameters {
  width: 10%;
}

.filter-wrapper, .value-wrapper {
  display: inline;
  margin: auto;
  padding: 1%;
}

.image-cell {
  position: relative;
}

.text-overlay {
  position: absolute;
  font-weight: bold;
  top: 10%;
  left: 30%;
  z-index: 1;
  padding: 10px;
}